<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/main.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="container hero">
          <nav class="nav">
            <div class="logo">
                <i class='bx bx-film'></i>
                <span>Filmoteka</span>
            </div>
            <div class="search">
              <input type="text" placeholder="Introduce un nombre">
              <i class='bx bx-search' id="icono"></i>
            </div>
            <ul class="menu">
              <li class="jeje"><a href="#">Home</a></li>
              <li class="dos"><a href="library.html">My library</a></li>
            </ul>
          </nav>
        </div>
      </header>      
</body>
</html>