*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  * {
  transition: all 0.3s ease;
  }
  
  .header {
  transition: top 0.3s ease;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  #ancho{
    max-width: 100vw;
  }
  .container {
    margin: 0 auto;
  }

  .hero{
    background-size: cover;
    background-image: url("../images/Rectangle 1.jpg");
    height: 230px;
  }
  
   .nav {
    padding: 41px 71px 0 71px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .search__header{
  position: relative;
  }
  .search__header i{
  position: absolute;
  right: 0;
  }
  .logo__filmoteka{
  color: #fff;
  }
  .logo__filmoteka > i{
    font-size: 28px;
    color: #818181;
  }
  .logo__filmoteka span{
    font-size: 30px;
  }
  .logo__filmoteka img {
    height: 50px;
  }
  
  .search__header {
    display: flex;
    align-items: center;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
  }
  .search__header .search__input {
    width: 316px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ffff;
    outline: none;
  }
  
  .search__header i {
    font-size: 20px;
    margin-left: 10px;
    color: #ccc;
  }
  
  .search__header .search__input:focus {
    outline: none;
  }
  
  .search__header .search__input:focus + i {
    color: #fff;
  }
  .search__header .search__input:valid {
    color: #fff;
  }
  
  .menu__header {
    display: flex;
    list-style: none;
  }
  
  .menu__header li {
    margin-left: 39px;
  }
  .menu__header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menu__header a:hover {
    color: #ccc;
  } 
  .menu__header .active a:first-child{
    border-bottom: 3px solid  #FF6B08;
    margin-right: 20px;
  }
  @media (max-width: 768px) {
  .nav {
    padding: 40px;
  
  }
  .search__header i{
      position: absolute; /* Añadimos posición absoluta */
      left: 180px;
      bottom: 50px;
      margin-left: 10px; /* Añadimos un margen izquierdo */
  }
  .search__header {
    margin: 0;
  }
  .search__header .search__input {
    width: 360px;
    position: absolute;
    margin-top: 60px;
    transform: translate(-45%, -50%);
  }
  .search__header i {
    margin-left: 5px;
  }
  .menu__header li {
    margin-left: 10px;
  }
  }
  
  @media (min-width: 325px) and (max-width: 550px) {
  .nav{
    position: relative;
  }
  .search__header i{
    position: absolute;
    right: 10px;
  }
  }
  
  @media (max-width: 320px) {
  .nav {
    padding-top: 41px;
    position: relative; /* Añadimos posición relativa */
  }
  .search__header {
    margin: 0;
  }
  .search__header .search__input {
    width: calc(100% - 40px); /* Ajustamos el ancho del .search__input */
    margin-right: 10px; /* Añadimos un margen derecho */
  }
  .search__header i {
    position: absolute; /* Añadimos posición absoluta */
    left: 170px;
    bottom: 50px;
    margin-left: 10px; /* Añadimos un margen izquierdo */
  }
  .logo__filmoteka span {
    display: none;
  }
  .menu__header{
    position: relative;
    right: 0px;
  }
  .menu__header li {
    margin-left: 10px;
  }
  .search__header .search__input{
    width: 280px;
    position: absolute;
    left: 50px;
  }
  }